.jumbotron h1{
  color: #31708f;
}
.logo {
  width:120px;
  height:140px;
  text-align: center;
}

body {
  margin:auto;
  padding:15px;
}

.contenttop{
  font-size: 14px;
}

.contenttop a {
  color:#06337c;
}

.contenttop ul {
  list-style: none;
  padding-left:0;
}

.title1 {
  text-align: center;
}

.title1 p {
  text-align: center;
  font-size: 162%;
}

.title1ul {
  padding-top: 10px;
}

#box1 {
  border: 1px solid green;
  background-color: #2CB77B;
  padding:5px;
  padding-left: 10px;
  margin-left: auto;
  color:black;
}

#box2 {
  border: 1px solid blue;
  background-color: #ABCDEF;
  padding:5px;
  padding-left: 10px;
  margin-left: auto;
  color:black;
}

#img1 {
  float:left;
  width:120px;
  font-size:12px;
  margin-right: 5px;
  text-align: left;
}

#img1 img{
  width:120px;
  height:150px;
  margin-right: 5px;
}

#img2 {
  float:right;
  width:120px;
  font-size:12px;
  margin-left: 5px;
  text-align:left;
}

#img2 img{
  width:120px;
  height:150px;
  margin-right: 5px;
}

.image1{
  margin: 1em 0;
  text-align: center;
}

.panel1 {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
